<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
	
    <div id="wrapper">
        <form action="/checkout" method="POST">
            {% csrf_token %}
	    <h3>Thank you for your business!</h3>
        <p>We charged your credit card for ${{charge_total}}</p>
	    <p>You have ordered {{ sum }} items so far and spent ${{total}} with Amadon.com!</p>
	    <p><a href="/">Go Back</a></p>
        </form>
	</div>
</body>
</html>